<form method="POST">{% csrf_token %}

	{{ form.as_p}}

<button type='submit' name="address" class='btn-btn-default'>Submit data</button>



</form>

{% include 'base/css.html' %}
	<div class='row'>
                <div class='col-12'>
                    <div class="alert alert-primary" role="alert">

                     <p>Last searched: </p>

                    
					 <hr style="height:2px;border-width:0;color:gray;background-color:gray"> 



					<p>Difference between timezones using UTC: {{obj.inTimeDelta_hours_res}} hours</p>

                   

                    </div>
                </div>
     </div>