 {% include 'base/css.html' %}
	<div class='row'>

 <div class='col-12'>
                    <div class="alert alert-primary" role="alert">




<a href="{%url 'view_days_till_a_date' %}">Days calculator</a>

<br>

<a href="{%url 'view_days_till_a_date_display_attributes' %}">Days calculator with date attributes</a>

<br>

<a href="{%url 'view_years_with_equal_sum_of_attributes_to_a_value' %}">Date attributes calculator</a>

<br>

<a href="{%url 'view_leap_years_in_a_decade' %}">Calculate the leap years in a decade</a>

<br>

<a href="{%url 'view_leap_years_in_a_century' %}">Calculate the leap years in a century</a>


<br>


<a href="{%url 'view_sum_of_attributes_of_nth_day_in_a_year' %}">Calculate sum of nth day attributes</a>

<br>

<a href="{%url 'view_how_many_bisect_years_in_the_last_nth_centuries' %}">Calculate bisect years inside centuries</a>


<br>

<a href="{%url 'how_many_months_and_days_till_the_next_spring_equinox' %}">Calculate periods until spring equinox</a>


<br>


<a href="{%url 'how_many_months_and_days_till_the_next_autumn_equinox' %}">Calculate periods until autumn equinox</a>


<br>


<a href="{%url 'what_period_between_years_with_total_lunar_eclipse' %}">Calculate periods between lunar eclipses</a>

<br>


<a href="{%url 'find_the_equivalent_of_timezone_with_USA' %}">Equivalent of timezone with USA</a>

<br>


<a href="{%url 'find_the_difference_of_timezone_with_USA' %}">Difference of timezone with USA</a>

<br>

<a href="{%url 'find_equivalent_with_timezone' %}">Find equivalent with timezone</a>

<br>

<a href="{%url 'find_difference_with_timezone' %}">Find difference with timezone</a>

<br>

<a href="{%url 'find_difference_of_timezone_from_UTC' %}">Find difference of timezone from UTC</a>

<br>

<a href="{%url 'find_difference_between_two_timezones' %}">Find difference between two timezones</a>

<br>




</div>

</div>

</div>

