
<form method="POST">{% csrf_token %}

	{{ form.as_p}}

<button type='submit' class='btn-btn-default'>Submit</button>

</form>

{% include 'base/css.html' %}
	<div class='row'>
                <div class='col-12'>
                    <div class="alert alert-primary" role="alert">

                    <p>Last searched: </p>

                    
					 <hr style="height:2px;border-width:0;color:gray;background-color:gray"> 



					<p>Result: {{obj.days_till_a_date_result}}</p>

					 <hr style="height:2px;border-width:0;color:gray;background-color:gray"> 


					Days: 

					<br>
					<br>

							<p>{{obj.one_date_res}}</p>
							<p>{{obj.two_date_res}}</p>


                    </div>
                </div>
     </div>








































