 {% include 'base/css.html' %}
	<div class='row'>

 <div class='col-12'>
                    <div class="alert alert-primary" role="alert">




<a href="{%url 'view_days_till_a_date' %}">Days calculator</a>

<br>

<a href="{%url 'view_days_till_a_date_display_attributes' %}">Days calculator with date attributes</a>

<br>

<a href="{%url 'view_years_with_equal_sum_of_attributes_to_a_value' %}">Date attributes calculator</a>

<br>

<a href="{%url 'view_leap_years_in_a_decade' %}">Calculate the leap years in a decade</a>

<br>

<a href="{%url 'view_leap_years_in_a_century' %}">Calculate the leap years in a century</a>


<br>


<a href="{%url 'view_sum_of_attributes_of_nth_day_in_a_year' %}">Calculate sum of nth day attributes</a>

<br>

<a href="{%url 'view_how_many_bisect_years_in_the_last_nth_centuries' %}">Calculate bisect years inside centuries</a>


<br>

<a href="{%url 'how_many_months_and_days_till_the_next_spring_equinox' %}">Calculate periods until spring equinox</a>


<br>


<a href="{%url 'how_many_months_and_days_till_the_next_autumn_equinox' %}">Calculate periods until autumn equinox</a>


<br>


<a href="{%url 'what_period_between_years_with_total_lunar_eclipse' %}">Calculate periods between lunar eclipses</a>

<br>


<a href="{%url 'find_the_equivalent_of_timezone_with_USA' %}">Equivalent of timezone with USA</a>

<br>


<a href="{%url 'find_the_difference_of_timezone_with_USA' %}">Difference of timezone with USA</a>

<br>

<a href="{%url 'find_equivalent_with_timezone' %}">Find equivalent with timezone</a>

<br>

<a href="{%url 'find_difference_with_timezone' %}">Find difference with timezone</a>

<br>

<a href="{%url 'find_difference_of_timezone_from_UTC' %}">Find difference of timezone from UTC</a>

<br>

<a href="{%url 'find_difference_between_two_timezones' %}">Find difference between two timezones</a>

<br>

<a href="{%url 'display_date_for_the_next_n_days' %}">Display date for the next n days</a>

<br>

<a href="{%url 'find_dates_with_attributes_of_time_equal_to_date_in_a_decade' %}">Find dates with attributes of time equal to date in a decade</a>

<br>

<a href="{%url 'find_dates_with_attributes_of_time_equal_to_date_in_a_century' %}">Find dates with attributes of time equal to date in a century</a>

<br>


<a href="{%url 'find_time_until_a_date_after_n_years' %}">Find time until a date after n years</a>

<br>


<a href="{%url 'calculate_date_and_time_until_next_solstice' %}">Calculate date and time until next solstice</a>

<br>



<a href="{%url 'calculate_date_and_time_until_the_nth_day_in_the_next_n_years' %}">Calculate date and time until the nth day in the next n years</a>

<br>


<a href="{%url 'find_time_until_a_date_after_n_years' %}">Find time until a date after n years</a>

<br>


<a href="{%url 'find_which_years_of_nth_century_have_more_than_n_days_with_attrs' %}">Find which years of the nth century have days with attributes of time equal to date</a>

<br>




<a href="{%url 'how_many_solstices_in_n_years_with_sum_attrs_even_number' %}">How many solstices in n years have the sum of attributes even number</a>

<br>


<a href="{%url 'how_many_solstices_in_n_years_with_sum_attrs_odd_number' %}">How many solstices in n years have the sum of attributes odd number</a>

<br>



<a href="{%url 'view_calendar' %}">View calendar</a>

<br>




</div>

</div>

</div>

